<% layout("/layouts/boilerplate") %>
<script>
  const mapToken="<%=process.env.MAP_TOKEN%>";
  const listing=<%- JSON.stringify(listing) %>
</script>

<style>
  .glass-review {
    background: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    transition: all 0.3s ease;
  }
  .glass-review:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
    background: rgba(255, 255, 255, 0.9) !important;
  }
  .review-comment {
    line-height: 1.6;
  }
  .starability-result:before {
    font-size: 14px !important;
  }
</style>

<div class="container py-5">


  <!-- ================= LISTING SECTION ================= -->
  <div class="main-wrapper card border-0 shadow-sm rounded-4 p-4 mb-5">

    <div class="row justify-content-center">
      <div class="col-lg-8">

        <div class="card border-0 bg-transparent shadow-none">

          <!-- Title -->
          <h3 class="fw-bold text-center mb-3">
            <%= listing.title %>
          </h3>

          <!-- Image -->
          <img src="<%= listing.image.url %>" 
               class="card-img-top show-image rounded" 
               alt="listing-image">

          <div class="card-body text-center">

            <!-- Owner -->
            <p class="text-start text-muted mb-3">
            Owned by @<%= listing.owner?.username || "Unknown User" %>
          </p>

            <!-- Description -->
            <p class="text-dark px-4">
              <%= listing.description %>
            </p>

            <!-- Details -->
            <ul class="list-group list-group-flush mb-4 bg-transparent">
              <li class="list-group-item bg-transparent border-0">
                <b>Price:</b> ₹ <%= listing.price.toLocaleString("en-IN") %>
              </li>
              <hr class="w-25 mx-auto">

              <li class="list-group-item bg-transparent border-0">
                <b>Location:</b> <%= listing.location %>
              </li>
              <hr class="w-25 mx-auto">

              <li class="list-group-item bg-transparent border-0">
                <b>Country:</b> <%= listing.country %>
              </li>
              <hr class="w-25 mx-auto">
            </ul>

        <% if (currUser && listing.owner && currUser._id.equals(listing.owner._id)) { %>
          <div class="d-flex justify-content-center gap-3">
            <a class="btn btn-success px-4"
               href="/listings/<%= listing._id %>/edit">
              Edit
            </a>

            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
              <button class="btn btn-dark px-4">
                Delete
              </button>
            </form>
          </div>
          <% } %>

          </div>
        </div>

      </div>
    </div>

  </div>


<hr/>

  <!-- ================= LEAVE REVIEW SECTION ================= -->
  <% if(currUser) { %>

  <div class="main-wrapper card border-0 shadow-sm rounded-4 p-4 mb-5">

    <div class="row justify-content-center mt-5 mb-5">

      <div class="col-lg-8 col-md-10 col-12">

        <div class="card shadow p-5 rounded-4 bg-white border-0">

          <h3 class="fw-bold mb-4 text-center">
            Leave a Review
          </h3>

          <hr/>

          <form action="/listings/<%= listing._id %>/reviews" 
                method="POST" 
                novalidate 
                class="needs-validation">

            <!-- Rating -->
            <div class="mb-4">

              <label class="form-label fw-semibold">
                Rating
              </label>

              <div class="py-2">

                <fieldset class="starability-slot">

                <!-- Default Hidden Option -->
                <input 
                  type="radio"
                  id="no-rate"
                  class="input-no-rate"
                  name="review[rating]"
                  value="1"
                  checked
                  aria-label="No rating."
                />

                <!-- 1 Star -->
                <input type="radio" id="rate1" name="review[rating]" value="1" />
                <label for="rate1">1 star</label>

                <!-- 2 Stars -->
                <input type="radio" id="rate2" name="review[rating]" value="2" />
                <label for="rate2">2 stars</label>

                <!-- 3 Stars -->
                <input type="radio" id="rate3" name="review[rating]" value="3" />
                <label for="rate3">3 stars</label>

                <!-- 4 Stars -->
                <input type="radio" id="rate4" name="review[rating]" value="4" />
                <label for="rate4">4 stars</label>

                <!-- 5 Stars -->
                <input type="radio" id="rate5" name="review[rating]" value="5" />
                <label for="rate5">5 stars</label>

              </fieldset>

              </div>
            </div>

            <!-- Comment -->
            <div class="mb-4">

              <label for="comment" class="form-label fw-semibold">
                Comments
              </label>

              <textarea class="form-control text-muted rounded-3 shadow-sm p-3"
                        name="review[comment]"
                        id="comment"
                        rows="4"
                        placeholder="What did you like or dislike?"
                        required></textarea>

              <div class="invalid-feedback">
                Please add a review comment.
              </div>

            </div>

            <!-- Submit -->
            <div class="text-center">

              <button type="submit"
                      class="btn btn-dark px-5 py-2 rounded-pill shadow">

                Submit Review

              </button>

            </div>

          </form>

        </div>

      </div>

    </div>

  </div>

  <% } %>

  <!-- ================= ALL REVIEWS SECTION ================= -->
  <div class="main-wrapper card border-0 shadow-sm rounded-4 p-4 mb-5">

    <div class="container mt-5">

      <h3 class="fw-bold mb-4 text-center">
        All Reviews
      </h3>

      <div class="row g-3">

<% if (listing.reviews && listing.reviews.length > 0) { %>

  <% for (let review of listing.reviews) { %>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card review-card h-100 p-4 d-flex flex-column shadow-sm border-0 rounded-4 glass-review">
        
        <!-- User Info -->
        <div class="d-flex align-items-center mb-3">
          <img 
  src="<%= (review.author && review.author.profileImage && review.author.profileImage.url) 
    ? review.author.profileImage.url 
    : 'https://www.pngall.com/wp-content/uploads/5/Profile.png' %>" 
  alt="Author" 
  class="rounded-circle me-3"
  style="width: 45px; height: 45px; object-fit: cover;"
>
          <div>
            <h6 class="fw-bold mb-0 text-dark">
              <%= review.author ? (review.author.fullName || review.author.username) : "Anonymous" %>
            </h6>
            <small class="text-muted">@<%= review.author ? review.author.username : "unknown" %></small>
          </div>
        </div>

        <!-- Stars -->
        <p class="starability-result card-text small-stars mb-3"
           data-rating="<%= review.rating %>"></p>

        <!-- Comment -->
        <p class="text-secondary small flex-grow-1 mb-3 review-comment">
          <% if (review.comment.length > 100) { %>
            <span class="short-text"><%= review.comment.slice(0, 100) %>...</span>
            <span class="full-text d-none"><%= review.comment %></span>
            <span class="show-toggle text-danger fw-semibold ms-1" style="cursor: pointer; font-size: 0.75rem;">Show more</span>
          <% } else { %>
            <span><%= review.comment %></span>
          <% } %>
        </p>

        <!-- Footer -->
        <div class="d-flex justify-content-between align-items-center mt-auto">
          <small class="text-muted joined-date" style="font-size: 0.7rem;">
            <%= new Date(review.createdAt).toLocaleDateString() %>
          </small>

          <% if(currUser && review.author && currUser._id.equals(review.author._id)) { %>
            <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
              <button class="btn btn-link text-danger p-0 border-0" title="Delete Review">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          <% } %>
        </div>

      </div>
    </div>

  <% } %>

<% } else { %>

  <p class="text-center text-muted">
    No reviews yet
  </p>

<% } %>

      </div>

    </div>

  </div>
<hr>
  <!-- ================= MAP SECTION ================= -->
  <div class="main-wrapper card border-0 shadow-sm rounded-4 p-4 mb-5">

    <div class="col-8 flex-start offset-2 mb-3">

      <h3 class="mb-3">Where you'll be</h3>

      <div id="map"></div>

    </div>

  </div>

<hr>
  <!-- ================= THINGS TO KNOW ================= -->
  <div class="main-wrapper card border-0 shadow-sm rounded-4 p-4 mb-5">

    <div class="container text-start my-5">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <div class="card border-0 shadow-none p-4">

            <h3 class="fw-bold mb-4">
              Things to know
            </h3>

            <div class="row g-4">

              <!-- Cancellation -->
              <div class="col-md-4">
                <div class="p-3 border shadow-none rounded h-100">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fa-regular text-muted fa-calendar-xmark fs-4 text-dark me-2"></i>
                    <h6 class="fw-semibold mb-0">Cancellation</h6>
                  </div>
                  <p class="text-muted fw-normal mb-2">
                    Free cancellation for 24 hours. Cancel before 29 May for a partial refund.
                    Review this host’s full policy for details.
                  </p>
                  <a href="#" class="text-dark small text-decoration-underline"
                    data-bs-toggle="modal"
                    data-bs-target="#cancelModal">
                    Learn more
                  </a>
                </div>
              </div>

              <!-- House Rules -->
              <div class="col-md-4">
                <div class="p-3 border shadow-none rounded h-100">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fa-solid text-muted fa-house fs-4 text-dark me-2"></i>
                    <h6 class="fw-semibold mb-0">House Rules</h6>
                  </div>
                  <p class="text-muted fw-normal mb-2">
                    Check-in: 1:00 pm – 9:00 pm<br/>
                    Checkout before 10:00 am<br/>
                    1 guest maximum
                  </p>
                  <a href="#" class="text-dark small text-decoration-underline"
                    data-bs-toggle="modal"
                    data-bs-target="#houseRulesModal">
                    Learn more
                  </a>
                </div>
              </div>

              <!-- Safety -->
              <div class="col-md-4">
                <div class="p-3 border shadow-none rounded h-100">
                  <div class="d-flex align-items-center mb-2">
                    <i class="fa-solid text-muted fa-shield-halved fs-4 text-dark me-2"></i>
                    <h6 class="fw-semibold mb-0">Safety</h6>
                  </div>
                  <p class="text-muted fw-normal mb-2">
                    Carbon monoxide alarm not reported<br/>
                    Smoke alarm not reported<br/>
                    Exterior security cameras on property
                  </p>
                  <a href="#" class="text-dark small text-decoration-underline"
                    data-bs-toggle="modal"
                    data-bs-target="#safetyModal">
                    Learn more
                  </a>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- ================= CANCELLATION MODAL ================= -->
<div class="modal fade" id="cancelModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content custom-modal rounded-4 border">
      
      <div class="modal-header border-0 px-4 pt-4 pb-2">
        <h2 class="modal-title fw-bold fs-4">Cancellation policy</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body custom-modal-body px-4 pb-4">

        <div class="mb-4 row align-items-start">
          <div class="col-6">
            <h5 class="fw-semibold mb-1">Within</h5>
            <p class="text-muted mb-0">
              24 hours<br>
              after booking
            </p>
          </div>

          <div class="col-6">
            <h5 class="fw-semibold mb-1">Full refund</h5>
            <p class="text-muted mb-0">
              Get back 100% of what you paid.
            </p>
          </div>
        </div>

        <hr>

        <div class="mb-4 row align-items-start">
          <div class="col-6">
            <h5 class="fw-semibold mb-1">Before</h5>
            <p class="text-muted mb-0">
              29 May<br>
              1:00 pm
            </p>
          </div>

          <div class="col-6">
            <h5 class="fw-semibold mb-1">Partial refund</h5>
            <p class="text-muted mb-0">
              Get back 50% of every night.<br>
              No refund of the service fee.
            </p>
          </div>
        </div>

        <hr>

        <div class="mb-2 row align-items-start">
          <div class="col-6">
            <h5 class="fw-semibold mb-1">After</h5>
            <p class="text-muted mb-0">
              29 May<br>
              1:00 pm
            </p>
          </div>

          <div class="col-6">
            <h5 class="fw-semibold mb-1">No refund</h5>
            <p class="text-muted mb-0">
              This reservation is non-refundable.
            </p>
          </div>
        </div>

        <hr>

        <p>Time shown is based on the location of the listing.</p>

        <div>
          <h5>Refund eligibility</h5>
          <p>
            If you're making scheduled payments, your refund or amount due
            will depend on how much you've paid at the time of cancellation.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ================= HOUSE RULES MODAL ================= -->
<div class="modal fade" id="houseRulesModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content custom-modal rounded-4 border">

      <div class="modal-header border-0 px-4 pt-4 pb-2">
        <h2 class="modal-title fw-bold fs-4">House rules</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body custom-modal-body px-4 pb-4">

        <p class="text-muted mb-4">
          You'll be staying in someone's home, so please treat it with care and respect.
        </p>

        <h5 class="fw-bold mb-3">Checking in and out</h5>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-regular fa-clock fs-5"></i>
          <span>Check-in: 1:00 pm – 9:00 pm</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-regular fa-clock fs-5"></i>
          <span>Checkout before 10:00 am</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-door-closed fs-5"></i>
          <span>Self check-in with building staff</span>
        </div>

        <hr>

        <h5 class="fw-bold mb-3 mt-4">During your stay</h5>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-user-group fs-5"></i>
          <span>1 guest maximum</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-ban fs-5"></i>
          <span>No pets</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-moon fs-5"></i>
          <span>Quiet hours: 9pm – 6am</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-circle-xmark fs-5"></i>
          <span>No parties or events</span>
        </div>

        <hr>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-smoking fs-5"></i>
          <span>Smoking is allowed</span>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- ================= SAFETY MODAL ================= -->
<div class="modal fade" id="safetyModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content custom-modal rounded-4 border">

      <div class="modal-header border-0 px-4 pt-4 pb-2">
        <h2 class="modal-title fw-bold fs-4">Safety & property</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body custom-modal-body px-4 pb-4">

        <p class="text-muted mb-4">
          Avoid surprises by looking over these important details about your host's property.
        </p>

        <h5 class="fw-bold mb-3">Safety considerations</h5>

        <div class="d-flex align-items-center gap-2 mb-3">
          <i class="fa-solid fa-child fs-5"></i>
          <span>Not suitable for children and infants</span>
        </div>

        <hr>

        <h5 class="fw-bold mb-3 mt-4">Safety devices</h5>

        <div class="d-flex gap-3 mb-3">
          <i class="fa-solid fa-video mt-1 fs-5"></i>

          <div>
            <h6 class="fw-semibold mb-1">
              Exterior security cameras on property
            </h6>

            <p class="text-muted mb-0 small">
              For your safety, exterior security cameras monitor all areas
              except the private garden.
            </p>
          </div>
        </div>

        <hr>

        <div class="d-flex gap-3 mb-3">
          <i class="fa-solid fa-triangle-exclamation mt-1 fs-5"></i>

          <div>
            <h6 class="fw-semibold mb-1">
              Carbon monoxide alarm not reported
            </h6>

            <p class="text-muted mb-0 small">
              The Host hasn't reported a carbon monoxide alarm.
            </p>
          </div>
        </div>

        <hr>

        <div class="d-flex gap-3">
          <i class="fa-solid fa-triangle-exclamation mt-1 fs-5"></i>

          <div>
            <h6 class="fw-semibold mb-1">
              Smoke alarm not reported
            </h6>

            <p class="text-muted mb-0 small">
              The Host hasn't reported a smoke alarm on the property.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {

    const toggles = document.querySelectorAll(".show-toggle");

    toggles.forEach(toggle => {

      // Skip if toggle is hidden
      if (window.getComputedStyle(toggle).display === "none") {
        return;
      }

      toggle.style.cursor = "pointer";

      toggle.addEventListener("click", () => {

        const parent = toggle.parentElement;

        const shortText = parent.querySelector(".short-text");
        const fullText = parent.querySelector(".full-text");

        // Skip if elements don't exist
        if (!shortText || !fullText) return;

        if (fullText.classList.contains("d-none")) {

          fullText.classList.remove("d-none");
          shortText.classList.add("d-none");
          toggle.innerText = "Show less";

        } else {

          fullText.classList.add("d-none");
          shortText.classList.remove("d-none");
          toggle.innerText = "Show more";

        }

      });

    });

  });
</script>

<script src="/js/map.js"></script>